*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
  }
  
  #video-bg {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
body{
    /* background-image:url("image/background.webp") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    height: auto; */
    background-color: black;

}

.Logo{
    cursor: pointer;
    margin-left: 40px;
    width: 90px;
    height: 70px;
}
.Nav-bar p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-left: -500px;
    width: 260px;
    
}

.Nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    width: 100%;
    /* border: 1px solid; */
    height: 87px;
    background: transparent;
}
.Nav-bar ul li{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}
.Nav-bar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.Nav-bar ul li::after{
    content: "";
    width: 20%;
    height: 3px;
    position: absolute;
    background-color: blue;
    bottom: -10px;
    left: 0;
    transition: .5s;
}
.Nav-bar ul li:hover::after{
    width: 100%;
}
/*          ///////////////////////////////////////      Body       //////////////////////////////*/
.sec1 {
    position: relative;
    padding: 20px;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    transform: translateY(15px) ;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
    /* background-image: url("image/a.jpg"); */
}
.background-overlay {
    position: absolute;
    top: 12%;
    left: 70%;
    width: 29%;
    height: 40vh;
    background-image: url("a.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(5px); */
    z-index: -1;
    border-radius: 30px ;
}
.sec1 h2{
    font-size: 50px;
    margin-bottom: 25px;
    position: relative;
    color: rgb(255, 255, 255);
    font-style: italic;

}
.sec1 h2::after{
content: '';
position: absolute;
width: 100%;
background-color: blue;
height: 4px;
display: block;
margin:0 auto;
}
.sec1 .content p{
    font-size: 22px;
    margin-left: 60px;
    line-height: 1.7;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    width: 65%;
}
.sec1 .content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.sec1 .read-more{
    background-color: blue;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: -20px;
    margin-left: 86%;
}
.sec1 .read-more:hover{
    background-color:#292e72
}
.container{
    width: 90%;
    margin: auto;
    transform: translateY(10%);
    
}
.section-heading{
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    color: white;
    position: relative;

}
.section-heading::after{
    content: '';
    position: absolute;
    width: 20%;
    background-color: blue;
    height: 4px;
    display: block;
    margin-left:40%;
    transform: translateY(6px);
    }
.services-cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.services-card{
    width: 350px;
    border: 1px solid #FFFF;
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
    background-color: #00000060;
    color: white;

}
.services-card:hover{
    transform: translateY(-20px);
}
.services-card i{
    font-size: 38px;
    margin-bottom: 10px;
}
.services-card h2{
    font-size: 24px;
    margin-bottom: 10px;
    color: #ff9898;
}
.services-card p{
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.container .read-more{
    background-color: blue;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 5px;
    /* margin-left: 86%; */
}
.container .read-more:hover{
    background-color:#292e72
}
footer{
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    transform: translateY(40%);
}
footer p{
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 900;

}
footer span{
    color: rgb(255, 255, 255);
}
.footer {
    background-color: #0a0a0a;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 17%;
}
  
  .footer-section {
    flex: 1 1 300px;
    margin-bottom: 20px;
  }
  
  .footer-section .h2 {
    font-size: 20px;
    position: relative;
    text-align: left;
  }

  
  .social-links,
  .service-links,
  .contact-links {
    list-style: none;
  }
  
  .social-links li,
  .service-links li,
  .contact-links li {
    margin-bottom: 5px;
    text-align: left;
  }
  
  .social-links img {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.social-links a,
.service-links a,
.contact-links a {
    color: #fff;
    text-decoration: none;  
}

  
  .social-links a:hover,
  .service-links a:hover,
  .contact-links a:hover {
    color: rgb(105, 84, 155);
  }

.footer  .footer-section .h2::after{
    content: '';
    position: absolute;
    width: 20%;
    background-color: blue;
    height: 4px;
    display: block;
    }