#toggle-container {
    position: absolute;
    top: 12%;
    z-index: 1;
    padding: 5px;
    margin-left: 88%;
    border-radius: 40px;
    background-color: #b2b0ffa9;
    width: 11%;
    display: flex;
    justify-content: space-between;
}

.btn-satellite {
    background-color: transparent;
    border: none;
    transition: background-color 0.3s ease;
    height: 4vh;
    border-radius: 40px; /* يضيف انتقال اللون عند التغيير */
    width: 100%;
    cursor: pointer;

}

.btn-satellite.active {
    background-color:  #9292ff;
    border-radius: 20px;
}
